## .gitignore
## John Stanton-Geddes
## 2014-06-04

# Ignore these directories
results
cache
figure
planning
comments

# Ignore these file types
*.Rproj
*.Rproj.user
*.RData
*.Rhistory
*.html
*.pdf
*.gz
*.aux
*.log
*.out
*.map
#*.csv
*.txt
*~
*.tgz
*.tar
*.png
*.tiff
*.svg
*.doc
*.docx
*.tmp
*.xlsx
*.Rout
.Rproj.user
